.wrapper,
.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.header,
.left-header,
.right-header,
.header-link,
.section-1-1,
.section-1-left,
.section-1-right {
    display: flex;
}

.wrapper,
.section-1 {
    flex-direction: column;
}

.left-header,
.right-header {
    padding: 16px;
}

body {
   font-family: Helvetica,Arial,sans-serif; 
}

.white-text {
    color: #F9FAF8;
}

.grey-text {
    color: #E5E7EB;
    font-size: 18px;
}

.dark-bg {
    background-color: #1F2937;
}

.dark-text {
    color: #1F2937; 
}

.sz24 {
    font-size: 24px;
}

.header {
    flex: auto;
}

.left-header {
    flex: 1;
    justify-content: center;
}

.right-header {
    flex: 2;
    justify-content: flex-end;
}

.header-link {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 1;
}

.section-1-left,
.section-1-right {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}